* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-size: 16px;
    background-color: #f1f1f1;
}

.header {
    position:absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo img {
    width: 150px;
    height: 150px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    
}

.dropdown {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;text-decoration: none;
}

/* Styles for the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Styles for the dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }


/*Common edits for most containers throughout the app*/
.container-1 {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-image: url("/static/slider/D85_3354.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Carousel-container styling in the home page*/

.carousel-container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

.carousel-slider {
    display: flex;
    transition: transform 1s ease;
  }

.carousel-slide {
    min-width: 100%;
    max-height: 100%;
  }
  
.carousel-slide img {
    max-width: 100%;
    max-height: 100%;
  }
  
/* Optional: Adjust the size of the carousel */
@media (max-width: 600px) {
    .carousel-slide {
      min-width: 100%;
    }
  }
  
@media (min-width: 601px) and (max-width: 800px) {
    .carousel-slide {
      min-width: 50%;
    }
  }


#video-background {
    width: 100%;
    height: 500%;
    object-fit: contain;
    z-index: -1;
    margin-top: 70px;
  }

/* css code for form to upload image */
.upload-form {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border: #ffffff solid 2px;
    padding: 50px;
    background-color: antiquewhite;
    opacity: 75%;
    border-radius: 5%;
  }

form h3{
    margin-bottom: 30px;
    text-align: center;
}
  
form label {
    margin-top: 20px;
    margin-bottom: 20px;
  }

textarea, select, input{
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
button {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #428bca;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #3071a9;
  }

/*Class success*/
.success {
    margin: 20px;
    color: red;
    text-align: center;
}

/*CSS Code for gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row*/
  grid-gap: 10px; /* Adjust the gap between images*/
  margin: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.category-title {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
}

.no-image {
  margin-top: 30px;
  text-align: center;
  color: red;
}