<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <div class="login-container">
        <form action="{{url_for('admin_login')}}" method="POST">

            <p class="error">{{ error }}</p>

            <div class="title">
                <h1>Admin Login</h1>
            </div>

            <div>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>

            <div>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <div>
                <button type="submit">Sign In</button>
            </div>

        </form>
    </div>
    
</body>
</html>