{% extends 'main.html' %}
{% block content %}

<div class="carousel-container">
    <div class="carousel-slider">
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/IMG_1587-Edit.jpg') }}" alt="Image 0">            
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_8153.jpg') }}" alt="Image 1">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_8159.jpg') }}" alt="Image 2">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/_D855801.jpg') }}" alt="Image 3">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_8157.jpg') }}" alt="Image 4">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/_D856112.jpg') }}" alt="Image 5">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_8264.jpg') }}" alt="Image 6">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_8265.jpg') }}" alt="Image 7">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/Lone Tree - John Gateru.jpg') }}" alt="Image 8">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='/slider/D85_4502.jpg') }}" alt="Image 9">
        </div>
    </div>
  </div>
  <script src="script.js"></script>




{%endblock content%}