<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <header class="header">
        <a href="#" class="logo">Logo</a>

        <nav class="navbar">
            <a href="home.html">Home</a>
            <a href="#">About</a>
            <div class="dropdown">Gallery
                <div class="dropdown-content">
                    <a href="portfolio.html">Portfolio</a>
                    <a href="categories/abstracts.html">Abstracts</a>
                    <a href="categories/city-scapes.html">City Scapes</a>
                    <a href="categories/events.html">Events</a>
                    <a href="categories/family-shoots.html">Family Shoots</a>
                    <a href="categories/holiday-shoots.html">Holiday Shoots</a>
                    <a href="categories/land-scapes.html">Landscapes</a>           
                    <a href="categories/portraits.html">Portraits</a>
                    <a href="categories/sea-scapes.html">Sea Scapes</a>
                    <a href="categories/wildlife.html">Wildlife</a>
                </div>                
            </div>            
            <a href="#">Contact Us</a>
        </nav>
    </header>

    <div class="video-container">
        <video autoplay muted loop id="video-background">
            <source src="images/Experience the magic .mp4" type="video/mp4">
        </video>
    </div>
    
    
</body>
</html>