{% extends 'main.html' %}
{% block content %}

<div class="container-1">
    <p class="success">{{ success }}</p>
    <div class="upload-form">
        <form action="{{ url_for('image_upload') }}" method="POST">

            <h3>Upload Image</h3>


            <div class="upload-image">
    
                <input type="file" id="image" name="image" accept="image/*" required>
    
            </div>
    
            <div class="caption">
    
                <label for="caption">Caption:</label><br>
                <textarea name="caption" id="caption" cols="30" rows="5" required maxlength="50" minlength="15"></textarea>

            </div>

            <div>
                <label for="category">Category</label><br>
                <select name="category" id="category">
                    {% for category in categories %}
                    <option value="{{ category[0] }}">{{ category[1] }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="submit-button">
    
                <button type="submit">Upload</button>
    
            </div>
            
        </form>
    </div>
</div>


{% endblock content %}